header{background-color: black;}
.titulo{font-family: Arial, Helvetica, sans-serif;
color: white;}
.giras{color: rgb(241, 186, 3);
font-family:Arial, Helvetica, sans-serif;}
.container{background-color: black;}
.girae{color: rgb(241, 186, 3);
    font-family:Arial, Helvetica, sans-serif}
    footer{background-color: black;
    color:rgb(241, 186, 3);}